body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
}

#computer {
    color: blue;
    font-size: 1.8rem;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}

#accessories {
    font-size: 1rem;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}

.nav-item a {
    font-size: 1.2rem !important;
    margin-left: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    color: blue;
}

.nav-item a:hover {
    color: black;
    text-decoration: underline blue;
}

@media(max-width:400px) {
    #computer {
        color: blue;
        font-size: 1.5rem;
        cursor: pointer;
        font-style: italic;
        font-weight: bold;
    }

    #accessories {
        font-size: 0.8rem;
        cursor: pointer;
        font-style: italic;
        font-weight: bold;
    }
}
/* signup start */
#signup-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    width: 100%;
}
@media(max-width:1024px){
    #signup-outer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100%;
        margin-bottom: 1em;
    }
}
@media(max-width:990px){
   #signup-outer{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: fit-content;
       width: 100%;
       gap: 3em;
       margin-top: 2em;
       margin-bottom: 2em;
}
/* body {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   overflow: visible;
} */
}
.loginpage:nth-child(1){
   text-align: center;
   color: blue;
   font-size: 1.5rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    box-shadow: 0px 0px 20px 2px gray;
    height: fit-content;
    width: 21em;
    border-radius: 16px;
    padding: 4% 0%;
}
 input {
     height: 2.5em;
     width: 18em;
    border-radius: 8px;
    border: 2px solid black;
 }
select{
    height: 2.5em;
    width: 18em;
    border: 2px solid black;
    border-radius: 8px;
}
@media(max-width:400px){
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        box-shadow: 0px 0px 20px 2px gray;
        height: fit-content;
        width: 18em;
        border-radius: 16px;
        padding: 4% 0%;
    }
    input {
        height: 2.5em;
        width: 16em;
       border-radius: 8px;
       border: 2px solid black;
    }
    select{
        height: 2.5em;
        width: 16em;
        border: 2px solid black;
       border-radius: 8px;
    }
    .error{
        width: 16em;
    }
}
#signup-btn{
    height: 2.5em;
    width: 8em;
    background-color: transparent;
    border: 2px solid blue;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: 0.6s;
    margin-top: 0%;
}
#signup-btn:hover{
    border: 2px solid black;
    background-color: blue;
    color: white;
}
.error{
    color: red !important;
    padding: 0%;
    margin: 0%;
}
